# Ignore virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
.coverage
coverage.xml
htmlcov/

# Ignore IDE/editor specific files
*.idea/
*.vscode/
*.pydev/

# Ignore distribution files
dist/
build/
*.egg-info/
